---
options:
  includeSelf: true
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="/css/output.css" rel="stylesheet">
  </head>
  <body>
    <div class="grid grid-rows-mobile md:grid-rows-four grid-cols-mobile md:grid-cols-two">
      <header class="col-span-full">Header</header>
      <nav class="breadcrumbs flex col-span-full">
        {% assign crumbs = collections.all | eleventyNavigationBreadcrumb: eleventyNavigation.key, options %}
        {{ crumbs | eleventyNavigationToHtml }}
      </nav>
      <aside class="row-start-4 md:row-start-3">
        <nav>
          {{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}
        </nav>
      </aside>
      <main class="markdown row-start-3 col-start-1 md:col-start-2">
        {{ content }}
      </main>
      <footer class="col-span-full ">Footer</footer>
    </div>
  </body>
</html>