@import url("fonts/noto-sans/400.css");
@import url("fonts/noto-sans-mono/400.css");
@import url("fonts/noto-sans-jp/400.css");
@import url("fonts/noto-serif/400.css");
@import url("fonts/noto-serif-jp/400.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

nav.breadcrumbs > ul {
  @apply flex list-none;
}

nav.breadcrumbs li:not(:last-child) > a::after {
  content: '>';
}

nav:not(.breadcrumbs) li > ul {
  padding-left: 1em;
}