@import url("fonts/noto-sans/400.css");
@import url("fonts/noto-sans-mono/400.css");
@import url("fonts/noto-sans-jp/400.css");
@import url("fonts/noto-serif/400.css");
@import url("fonts/noto-serif-jp/400.css");
@import url("prismjs/prism-twilight.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

nav.breadcrumbs > ul {
  @apply flex list-none;
}

nav.breadcrumbs a {
  @apply hover:underline;
}

nav.breadcrumbs li:not(:last-child) > a {
  @apply text-sky-500 after:inline-block after:mx-2 after:content-['\203A'] after:text-slate-800 after:dark:text-slate-300;
}

nav:not(.breadcrumbs) li {
  @apply py-1;
}

nav:not(.breadcrumbs) li > ul {
  @apply pl-4;
}

nav:not(.breadcrumbs) a {
  @apply text-slate-600 dark:text-slate-400  hover:text-sky-500 hover:dark:text-sky-500;
}

.eleventy {
  stroke-width: 28;
  stroke-miterlimit: 10;
}

html.dark .sun {
  @apply hidden;
}

html:not(.dark) .moon {
  @apply hidden;
}

.header-anchor {
  @apply no-underline hover:text-sky-500;
}